# ==========================================
# Backend
# ==========================================

PORT=3000
CORS_ORIGIN=http://localhost:5173

# ==========================================
# JSONPlaceholder
# ==========================================

JSONPLACEHOLDER_BASE_URL=https://jsonplaceholder.typicode.com

# ==========================================
# Zoho CRM
# ==========================================

ZOHO_CLIENT_ID=your_client_id
ZOHO_CLIENT_SECRET=your_client_secret
ZOHO_REFRESH_TOKEN=your_refresh_token
ZOHO_ACCOUNT_SERVER=https://accounts.zoho.com
ZOHO_API_BASE_URL=https://www.zohoapis.com/crm/v8

# Opcional si decides utilizar un Access Token manual
ZOHO_ACCESS_TOKEN=